<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario enviado</title>
    <link rel="stylesheet" href="/styles/submitForm.css">
</head>
<body>
    <header class="header">
      <div class="header-video">
        <video autoplay muted loop>
            <source src="/assets/video/background-video.mp4" type="video/mp4">
        </video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content">
        <h1>Solicitud enviada con éxito</h1>
        <p>Próximamente nos pondremos en contacto con usted</p>
        <a href="/index.html" class="index-btn">VOLVER A INICIO</a>
      </div>
    </header>
</body>
</html>