@font-face {
    font-family: 'Raleway';
    src: url(/assets/fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto';
    src: url(/assets/fonts/NotoSerif_Condensed-MediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(/assets/fonts/Raleway-Light.ttf) format('truetype');
}

/*Restablecer estilos navegador*/
*, 
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
    /* min-width: 0; */
}

html{
    scroll-behavior: smooth;
    /*scroll-snap-type: y mandatory; -> Cambia por secciones de la página*/
}

body{
    min-height: 100dvh;
}

h1,h2,h3{
    text-wrap: balance;
}

p{
    text-wrap: pretty;
}

/*Creación reglas de estilo*/
/* :root{
    --h1-font-size: 4rem;
    --span-font-size: 2rem;
    --input-size: 20rem;
    --h1-color: white;
    --span-color: white;
} */

/*Header - Navbar*/

.nav-bar{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 15vh;
}

.logo{
    max-width: 11rem;
}

.nav-list{
    list-style: none;
    font-size: 1rem;
    display:flex;
 }

.nav-list li{
    margin-right: 3em;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-list li a {
    padding: 1em;
    color: #2b2a2a;
    background-color: none;
    text-decoration: none;
}

.open-menu, 
.close-menu{
    display:none;
}

/*Hero Image section*/
.hero-container{
    position: relative;
}

.hero-1{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 85%);
    background: url(/assets/fondo.jpg) center/cover;
    height: 100vh;
}


.hero-2{
    clip-path: polygon(0 10%, 100% 12%, 100% 100%, 0 100%);
    background: url(/assets/fondo2.jpg) center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130vh;
}

.hero-container::before{
    position:absolute;
    background: black;
    opacity: 0.8;
    content: "";
    height: 100%;
    width: 100%;
}

.hero-body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    color:#ffffff;
    width: 70%;
    margin:auto;
    text-align: center;
}

.hero-body h1{
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.hero-body span{
    font-family: Noto;
}

.hero-body p{
    font-family: Raleway-Light;
    font-size: 1rem;
}

/*Cards section*/
.services header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
    margin: 0  0 3rem 4rem;
}

.services-title{
    text-transform: uppercase;
    font-weight: 1300;
    font-size: 2.2rem;
    color: #2b2a2a;
}

.services header h2{
    font-size: 1.2rem;
    font-family: Raleway-Light;
    color: #747272;
}

.cards-grid{
    width: 85%;
    display:grid;
    margin: auto;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, auto);
    gap:3rem;
}

.card{
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all .3s ease-in;
    position: relative;
    top:0;
    /* min-height: 45vh; */
}

.card .overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #daa94e;
    opacity: 0;
    transition: all 0.3s linear;
    border-radius: 8px;
}

.card:hover .overlay{opacity: .95;}

.btn{
    padding: 1rem 2rem;
    text-decoration: none;
    color: #2b2a2a;
    border: 2px solid #2b2a2a;
    border-radius: 8px;
    letter-spacing: .8px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    top:-2px;
}

.card-body{
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: .7rem;
    padding: 1rem;
}

.card-img{
    width: 100%;
    display: block;
    border-radius: 8px 8px 0 0;
    height: 50%;
}

.card-body h3, .card-body p{
    font-size: .85rem;
    color: #8a8787;
}

.card-body h2{
    font-size: 1.2rem;
}

/*Contact section*/
.contact-section{
    position: relative;
    display: flex;
    background-color: #272727d2;
    justify-content: center;
    padding: 1rem 2rem;
}

.contact-title{
    position:relative;
    color: white;
    margin: 8rem 0 2rem 5rem;
    align-self: flex-start;
    font-size: 2.2rem;
    width: auto;
}

fieldset{
    border: none;
    margin-top: 1rem;
}

fieldset legend{
    color:#daa94e;
    font-size: .9rem;
    width: 70%;
}

form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    gap: 1.5rem;
}

form input, textarea {
    padding:.6rem;
    width: 100%;
    border:0;
    background: transparent;
    color:#ffffff;
    resize: none;
    font-family: Raleway-Light;
    font-size: .9rem;
}

form input:focus,
form textarea:focus{
    outline:none;
}

.input-container{
    width: 100%;
    border-bottom: 1px solid white;
}

.input-container i{
    position:absolute;
}

.icon{
    color: white;
    padding: .7rem;
}

.input-field{
    width: 100%;
    padding: .7rem;
    margin-left: 2rem;
}

.checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.cb-lb{
    color:#ffffff;
    font-size: .75rem;
    font-family: Raleway-Light;
    text-wrap:nowrap;
    margin-left: 1rem;
}

.contact-btn{
    border: none;
    background-color: #daa94e;
    width: 30%;
    margin:auto;
    padding: .5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.contact-info{
    color:#daa94e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:1rem;
    padding: 2rem;
    font-size: .9rem;
    border-left: 1px solid white;
}

.icon-contact{
    font-size: 1.5em;
    margin-right: 1rem;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2.5rem;
    padding:2rem 3rem 1rem 3rem;
    background-color: #2b2a2a;
    color:#ffffff;
    font-size: .8rem;
}

.map{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.map-info p:first-child{
    font-weight: 600;
    font-size: .85rem;
    margin-bottom: .5rem;
}

.social-media{
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
    .open-menu,
    .close-menu {
      display: block;
      border: 0;
      font-size: 2rem;
      background-color: transparent;
      cursor:pointer;
      padding: 2rem;
    }

    .close-menu{
        color: white;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap:1rem;
        visibility: hidden;
        position:absolute;
        top: 0;
        right: 0;
        bottom:0;
        background-color: #272727;
        width: 60%;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.568);
        z-index: 1;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
        transition:all .4s ease-out;
    }

    .nav-list{
        flex-direction: column;
        align-items:flex-end;
    }

    .nav-list li{
        margin-bottom: 3rem;
    }

    .nav-list li a{
        color: white;
        position: relative;
    }

    .nav-list li a::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transform: scale(0);
        transform-origin: bottom right;
        transition: transform .6s ease-out;
    }

    .nav-list li a:hover::after{
        transform: scale(1);
        transform-origin: bottom left;
    }

    .services header h1{
        font-size: 1.9rem;
    }
    
    .services header h2{
        font-size: 1.1rem;
    }

    .cards-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        width: 65%;
    }

    .card-body h2{
        font-size: 1rem;
    }

    .card-body h3, .card-body p{
        font-size: .8rem;
    }

}


