@font-face {
    font-family: 'Salsa';
    src: url(/assets/fonts/Salsa-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Salsa';
}

.logo{
    display: flex;
    justify-content: left;
    align-items: center;
}

nav{
    background-color: #ffffff;
    height: 4rem;
    text-align: left;
}

nav ul{
    list-style: none;
    display: flex;
    font-size: 1rem;
    justify-content: right;
    align-items: center;
 }

nav li{
    margin-right: 2rem;
}

nav a {
    padding: 15px;
    color: #3c3b3b;
    background-color: none;
    text-decoration: none;
    border-radius: 5px;
}

.container{
    position: relative;
    /*clip-path: ellipse(95% 70% at 45% 0%);*/
    clip-path: polygon(0 0, 100% 0%, 100% 66%, 0 59%);
}

.img img{
    height: auto;
    width: 100%;
    display: block;
}

.overlay {
    background-color: rgba(228, 118, 228, 0.8); /* Color violeta con transparencia */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container2{
    clip-path: polygon(0 35%, 100% 30%, 100% 100%, 0 100%);
    background-color: #939191;
    height: 40vh;
}

.contact{
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
}

fieldset{
    padding: 2em;
    width: 40%;
    background-color: #f7f7f7;
    border: .5px solid #b4b4b4;
    border-radius: 5px;
    text-align:left;
}

fieldset form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 5px;
    border: .2px solid grey;
}
